<main>
    <div class="container container-background mt-5 mb-5">
        <h1 class="text-center"><span class="red-text">We</span><span class="red-stroke-white-fill">Blog</span></h1>
        <br />
        <form method="POST" action="/home" id="add-new-blog-post">
            <textarea id="newBlogPost" name="newBlogPost" rows="7" style="width: 100%; max-width: 100%;" placeholder="Write a new post..." required></textarea>
            <div class="text-center">
                <div class="dropdown btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="newPostCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Category</button>
                    <div class="dropdown-menu" aria-labelledby="new-post-category">
                        {{#each categories}}
                        <div class="dropdown-item radio">
                            <label>
                                <input type="radio" name="categories" value="{{this}}" />{{this}}
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <input type="submit" value="Submit Post" class="btn btn-secondary" />
            </div>
        </form>
        <br />
        <h2 class="text-center">Or browse posts by category...</h2>
        <br />
        <div class="row">
            {{#each categories}}
            <div class="col-sm-12 col-md-6 col-lg-4 mt-1 mb-2">
                <a href="/cat/{{this}}" class="list-group-item list-group-item-category text-center">{{this}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</main>
